<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="CSS/style.css">
</head>
<body>
    {{>Navbar}}
    <div class="hero-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 col-12">
                    <div class="hero-left-details" data-aos="zoom-in">
                        <h1 class="text-light">A Digital Agency Of Inteligents and Creative People</h1>
                        <p class="text-light">Tempor rebum no at dolore lorem clita rebum rebum ipsum rebum stet dolor sed justo kasd. Ut dolor sed magna dolor sea diam. Sit diam sit justo amet ipsum vero ipsum clita lorem</p>
                    </div>
                    <div class="hero-btn"  data-aos="zoom-in">
                         <a href="/about"><button class="btn" type="submit">Read More</button></a> 
                        <a href="/contact"> <button class="btn" type="submit">Contact us</button></a>
                    </div>
                </div>
                      <div class="col-sm-12 col-md-6 col-lg-6 col-12">
                        <div class="hero-right">
                    <figure class="hero-img" data-aos="fade-right">
                        <img src="/img/hero.avg.png" alt="img">
                    </figure>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    {{!-- about --}}
    <div class="container">
       <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-6 col-12">
            <div class="av-main"  data-aos="zoom-in">
              <p>ABOUT US</p>
              <h1>#1 Digital solution with 10 years of experience</h1>
              <p class="text-secondary fs-5">Diam dolor diam ipsum et tempor sit. Aliqu diam amet diam et eos labore. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit clita duo justo eirmod magna dolore erat amet</p>
              <div class="ab-btn">
                  <a href="/about"> <button class="btn" type="submit">Read More</button></a>
                   </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6 col-12">
            <figure class="ab-img"  data-aos="zoom-in">
              <img src="/img/about.png" alt="">
            </figure>
          </div>
        </div>
    </div>
    {{!-- coutnter --}}
    <div class="counter-section"  data-aos="zoom-in">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-3 col-lg-3 col-12">
            <div class="count1">
              <h1 class="text-light">1234</h1>
              <p class="text-light">Years Experience</p>
            </div>
          </div>
           <div class="col-sm-12 col-md-3 col-lg-3 col-12">
                <div class="count1">
              <h1 class="text-light">1334</h1>
              <p class="text-light">Team Members</p>
            </div>
          </div>
           <div class="col-sm-12 col-md-3 col-lg-3 col-12">
                <div class="count1">
              <h1 class="text-light">734</h1>
              <p class="text-light">Satisfied Clients</p>
            </div>
          </div>
           <div class="col-sm-12 col-md-3 col-lg-3 col-12">
                <div class="count1">
              <h1 class="text-light">534</h1>
              <p class="text-light">Compleate Projects</p>
            </div>
          </div>
        </div>
      </div>
    </div>
{{!-- service --}}
 <div class="container"  data-aos="zoom-in">
      <p class="service text-center mt-5 fs-4">OUR SERVICES</p>
      <h1 class="text-center ">What Solutions We Provide</h1>
      <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4 col-12">
              <div class="service-box">
                <h1 class="fs-4 text-center">SEO Optimization</h1>
                <p class=" text-center">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.</p>
              </div>
            </div>
               <div class="col-sm-12 col-md-4 col-lg-4 col-12">
              <div class="service-box">
                  <h1 class="fs-4 text-center">Web Design</h1>
                <p class="text-center">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.</p>
              </div>
            </div>
               <div class="col-sm-12 col-md-4 col-lg-4 col-12">
              <div class="service-box">
                  <h1 class="fs-4 text-center">Social Media Marketing</h1>
                <p class=" text-center">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.</p>
              </div>
            </div>
           </div>
                 <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4 col-12">
              <div class="service-box">
                <h1 class="fs-4 text-center">Email Marketing</h1>
                <p class=" text-center">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.</p>
              </div>
            </div>
               <div class="col-sm-12 col-md-4 col-lg-4 col-12">
              <div class="service-box">
                  <h1 class="fs-4 text-center">PPC Advertising</h1>
                <p class="text-center">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.</p>
              </div>
            </div>
               <div class="col-sm-12 col-md-4 col-lg-4 col-12">
              <div class="service-box">
                  <h1 class="fs-4 text-center">App Development</h1>
                <p class=" text-center">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.</p>
              </div>
            </div>
           </div>
    </div>
{{!-- NEWSLETTER --}}
<div class="NEWSLETTER">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-12">
        <div class="full-details"  data-aos="zoom-in">
          <p class="text-center text-light">NEWSLETTER</p>
          <h1 class="text-center text-light">Stay Always In Touch</h1>
          <p class="text-center text-light">Diam dolor diam ipsum et tempor sit. Aliqu diam amet diam et eos labore. Clita erat ipsum et lorem et sit sed stet lorem sit clita duo justo.Aliqu diam amet diam et eos labore</p>
        
        </div>
      </div>
    </div>
  </div>
</div>
 {{>Footer}}
   <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
      offset: 300,
        duration: 1000,
    });
  </script>

</body>
</html>